<!-- footer.html (Final_PRJ) -->
 <hr>
{% load static %}
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
<!-- Section: Social media -->
<section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>在社群網站與我們聯絡：</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="https://www.facebook.com/login/?next=https%3A%2F%2Fwww.facebook.com%2F%3Flocale%3Dzh_TW" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      &nbsp;
      <a href="https://x.com/" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      &nbsp;
      <a href="https://www.google.com.tw/?hl=zh_TW" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      &nbsp;
      <a href="https://www.instagram.com/?hl=zh-tw" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      &nbsp;
      <a href="https://tw.linkedin.com/" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
    <br/>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i> 城市保全物業
          </h6>
          <p>
            城市保全物業成立於1965年，幾十年來致力於社區發展及大樓保全管理。
            我們將成為你們最好的選擇及好幫手~
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h5 class="text-uppercase">關於本網站</h5>

        <p>
          請社區大樓住戶於大樓櫃台取得註冊號碼後進行註冊，註冊請依註冊頁面指示進行註冊。
          完成後即可啟用本網站之功能。
        </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="/post" class="text-reset">社區布告欄</a>
          </p>
          <p>
            <a href="#HelpModal" class="text-reset" data-toggle="modal">幫助</a>
          </p>
        </div>
        <div class="modal fade" id="HelpModal" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                  <span>&times;</span></button>
                <h3 class="modal-title">幫助？</h3>
              </div>

              <div class="modal-body">
                <p>
                  關於本網站係提供住戶進行使用，可使社區生活更加方便順利。
                </p>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">關閉</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">聯絡：</h6>
          <p><i class="fas fa-home me-3"></i> 高雄市路竹區三公路5號</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@example.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
<!-- Copyright -->
<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    <!--<img src="{% static "images/logo.png" %}" width=100>-->
    © 2024 Copyright:
    <a class="text-body" href="https://alexlee20010711.wixsite.com/yichianportfolio">Yi-Chian Lee</a>
  </div>
  <!-- Copyright -->
</footer>