<!-- sign_up.html (Final_PRJ) -->
{% extends "base.html" %}
{% block title %} 天天誼家公寓管理網{% endblock %}
{% block content %}
<!-- 這裡放我們要呈現的內容-->
<div class='container'>
    {% if message %}
    <div class='alert alert-warning'>{{ message }}</div>
    {% endif%}
</div>
<div class="container">
<h1>註冊</h1>
    <form method = "POST" >
        {% csrf_token %}
        <div class="form-group">
            <label for="id_username">姓名：</label>
            {{ form.username}}
        </div>
        <!--<div class="form-group">
            <label for="id_email">電子郵件：</label>
            {{ form.email }}
        </div>-->
        <div class="form-group">
            <label for="id_password1">密碼：</label>
            {{ form.password1 }}
        </div>
        <div class="form-group">
            <label for="id_password2">確認密碼：</label>
            {{ form.password2 }}
        </div>
        <input type= "submit", value = "註冊" class="btn btn-primary">
    </form>
</div>
{% endblock %}